@import url("https://fonts.googleapis.com/css2?family=Anybody:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap");

body {
  font-family: "Anybody", sans-serif;
  text-align: center;
  background-color: #f9e4bc;
  margin: auto;
}

.container {
  display: grid;
  grid-template-columns: auto auto;
  max-width: 50%;
  border: 3px solid blueviolet;
  border-radius: 25px;
  background-color: white;
  margin: auto;
  margin-bottom: 20px;
}

.secondary {
  max-width: 25%;
  border: 3px solid blueviolet;
  border-radius: 25px;
  background-color: white;
  margin: auto;
  margin-bottom: 20px;

.container p {
  margin-left: 65px;
  margin-top: 40px;
}

.container h2{
  margin-top: 75px;
  margin-left: 300px;
}

.container h2, .container p {
  grid-column: 1;
}

.container img {
  max-width: 75%;
  grid-column: 2;
  margin: 60px auto;
  margin-top: -75px;
}

li {
  text-decoration: none;
}

h2 {
  font-size: 25px;
  margin: 10px auto;
  padding: 15px;
  max-width: 100%;
}

hr {
  line-height: 3px;
  border-bottom: 0px;
  width: 98%;
}

h3 {
  text-align: center;
}

body hr {
  width: 30%;
  margin-top: -0.75em;
  margin-bottom: 0.75em;
}

.container hr {
  grid-column: 2;
  width: 45%;
  column-span: all;
}

header h1 {
  font-family: "Kanit", sans-serif;
  font-weight: 100;
  margin-top: -0.5rem;
  margin-bottom: -0.5rem;
  font-size: 50px;
  color: white;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 0.75rem;
  text-decoration: none;
  font-size: 0.95rem;
  background: linear-gradient(90deg, transparent, #ca7df9, transparent) bottom /
    var(--d, 0) 10px no-repeat;
  transition: 0.5s;
}

.navigation li {
  display: none;
}

.responsive li {
  display: block;
}

.navigation li:first-child {
  display: block;
}

.navigation a {
  display: block;
  padding: 0.75rem;
  text-align: center;
  text-decoration: none;
  font-family: "Anybody", sans-serif;
  font-weight: 100;
  font-size: 20px;
}

.navigation a:hover {
  cursor: pointer;
  --d: 75%;
  background-color: #700070;
  border-radius: 25px;
}

header,
main,
footer {
  margin: auto;
}

header {
  max-width: 100%;
  background: repeating-linear-gradient(to right, black, black 10px, #3b3b3b 10px, #3b3b3b 20px);
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

nav {
  width: 99%;
  background-color: navy;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  margin: auto;
}

.navigation {
  list-style: none;
  font-weight: 50;
  padding: 0;
}

nav ul {
  list-style-type: none;
  overflow: hidden;
}

footer {
  font-family: "Anybody", sans-serif;
  width: 100%;
  text-align: center;
  padding: 0.25em;
  background-color: navy;
}

footer h4 {
  color: white;
  font-size: 20px;
}

#demo, footer p {
  color: yellow;
  font-size: 15px;
  margin-top: -10px;
}

@media only screen and (min-width: 57em) {
  .navigation {
    display: flex;
  }

  nav ul li {
    flex: 1 1 auto;
  }

  .navigation li {
    display: block;
  }

  nav a {
    font-size: 1rem;
    display: block;
    padding: 0.75rem;
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: 700;
  }

  .navigation li:first-child {
    display: none;
  }

  h1 {
    font-size: 1.5rem;
  }

  nav ul {
    display: flex;
  }
}

@media only screen and (max-width: 32.5em) {
  header,
  footer {
    overflow: hidden;
  }
}
